.container{position: relative}
.selectable{border: 5px #fff solid; height: 50px; width: 50px; position: absolute; font-size: 28px; text-align: center;}
.selected {border: 5px red solid;}

.example1{}
.example2{margin-top: 190px;}
.example3{margin-top: 270px;}

.block1{background: aqua; top:50px; left:70px;}
.block2{background: #8a2be2; top:50px; left:130px;}
.block3{background: #7fff00; top:50px; left:190px;}
.block4{background: #006400; top:50px; left:250px;}
.block5{background: #dc143c; top:50px; left:310px;}
.block6{background: #ff8c00; top:120px; left:70px;}
.block7{background: #bdb76b; top:120px; left:130px;}
.block8{background: #f08080; top:120px; left:190px;}
.block9{background: #add8e6; top:120px; left:250px;}
.block10{background: #fff8dc; top:120px; left:310px;}

.block11{background: aqua; top:50px; left:50px;}
.block12{background: #8a2be2; top:100px; left:150px;}
.block13{background: #7fff00; top:50px; left:300px;}
.block14{background: #006400; top:130px; left:420px;}
.block15{background: #dc143c; top:50px; left:580px;}
.block16{background: #ff8c00; top:140px; left:50px;}
.block17{background: #bdb76b; top:200px; left:150px;}
.block18{background: #f08080; top:160px; left:310px;}
.block19{background: #add8e6; top:230px; left:480px;}
.block20{background: #fff8dc; top:180px; left:550px;}

.block21{background: aqua; top:50px; left:50px;}
.block22{background: #8a2be2; top:100px; left:150px;}
.block23{background: #7fff00; top:50px; left:300px;}
.block24{background: #006400; top:130px; left:420px;}
.block25{background: #dc143c; top:50px; left:580px;}
.block26{background: #ff8c00; top:140px; left:50px;}
.block27{background: #bdb76b; top:200px; left:150px;}
.block28{background: #f08080; top:160px; left:310px;}
.block29{background: #add8e6; top:230px; left:480px;}
.block30{background: #fff8dc; top:170px; left:550px;}

#arrow1{
    position: absolute;
    top: 650px;
    left: 113px;
    height: 40px;
    width: 180px;
    background: url(left-right.png);
}

#arrow2{
    position: absolute;
    top: 650px;
    left: 385px;
    height: 40px;
    width: 180px;
    background: url(left-right.png);
}

#arrow3{
    position: absolute;
    top: 785px;
    left: 400px;
    height: 40px;
    width: 135px;
    background: url(left.png);
}

#arrow4{
    position: absolute;
    top: 758px;
    left: 115px;
    height: 35px;
    width: 200px;
    background: url(left2.png);
}